@mixin font-display($font:64, $weight:400){
    font-family: 'IBM Plex Mono', sans-serif, monospace;
    font-size: calc($font / 16) + rem;
    font-weight: $weight;
}
@mixin font-normal($font:64, $weight:400){
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc($font / 16) + rem;
    font-weight: $weight;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: inherit;
    outline: none;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

body{
    background: linear-gradient(160deg, #52000D 0%, #100000 39%, #10001A 86%);
    min-height: 100vh;
}

@mixin container{
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    @include container;
}
