@mixin font-display($font:64, $weight:400){
    font-family: 'IBM Plex Mono', sans-serif, monospace;
    font-size: calc($font / 16) + rem;
    font-weight: $weight;
}
@mixin font-normal($font:64, $weight:400){
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: calc($font / 16) + rem;
    font-weight: $weight;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: inherit;
    outline: none;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

body{
    background: linear-gradient(160deg, #52000D 0%, #100000 39%, #10001A 86%);
    min-height: 2000px;
}

@mixin container{
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    @include container;
}

// Inicio Header
header{
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        gap: 20px;
        padding: 15px 30px;
    }
    
    .icones-header li{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    
    
    img{
        width: 35px;
        height: 35px;
        position: relative;
        padding: 2px;
        background: #000;
        border-radius: 5px;
    }

    a:hover::before,
    a:focus::before{
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200%;
            height: 200%;
            animation: girarBorda 2s linear infinite ;
    }
    @keyframes girarBorda {
        from {
            transform: translate(-50%, -50%) rotate(0deg);
            background-image: conic-gradient(
                #000,
                #52000D,
                #000,
                #52000D
                );
        } to {
            transform: translate(-50%, -50%) rotate(360deg);
            background-image: conic-gradient(
                #000,
                #52000D,
                #000,
                #52000D
            ); 
        }
    }
    }
    .info-header li{
        @include font-display(24, 400);
        color: #fff;
        display: flex;
        align-items: center;
        &::before{
            content: "";
            display: block;
            height: 15px;
            width: 2px;
            margin-right: 4px;
            border-radius: 15px;
            background: #8C0000;
        }
        a{
            transition: .4s;
            &:hover,
            &:focus{
                color: #999;
            }
        }
    }
}
// Final Header

// Inicio Introdução
.introducao{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 60px;
    padding: 0 30px;

    .titulo-tecnologias{
        h1{
            @include font-display(64, 400);
            color: #fff;
        }
        .tecnologias{
            margin-top: 40px;
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 80px);
            gap: 20px;
            justify-items: left;
            
            li{
                border: solid 1px #fff;
                border-radius: 10px;
                padding: 10px;
                transition: .4s;

                &:hover{
                    transform: scale(110%);
                }
            }
        }
    }

    .perfil{
        display: grid;

        h1{
            @include font-display(32, 400);
            max-width: 100%;
            text-align: center;
            color: #fff; 
            
            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                border-radius: 5px;
                background: linear-gradient(180deg, rgba(82, 0, 13, 0.70) 0%, rgba(74, 0, 58, 0.38) 100%);
            }
        }

        a{
            display: grid;
            position: relative;
            grid-template-columns: 1fr auto;
            justify-self: center;
            align-items: center;
            gap: 5px;
            padding: 2px 5px;
            @include font-normal(24, 400);
            color: #A8A8A8cc;

            &:hover,
            &:focus{
                filter: drop-shadow(0 0 0 #fff)
            }

            &::after{
                content: "";
                position: absolute;
                display: block;
                width: 0%;
                height: 2px;
                bottom: 0;
                background: #52000D; 
                transition: .4s;
            }

            &:hover::after,
            &:focus::after{
                width: 100%;
            }
        }
    }
}
// Final Introdução

// Inicio Apresentação
.apresentacao{
    display: grid;
    margin-top: 60px;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    @include font-normal(28, 400);
    position: relative;
    padding: 0 30px;

    h2{
            @include font-display(32, 400);
            color:#fff;
            text-align: center;
            margin-bottom: 15px;
    }

    p{
        display: grid;
        align-content: center;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.50);
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .50),
                    0px 2px 4px 0px rgba(19, 0, 31, .50);
        padding: 30px;
        height: 100%;
        @include font-normal(28, 400);
        line-height: 1.5;

        span{
            @include font-display(32, 400);
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 15px;

            & + span + span{
            margin-bottom: 30px;
            }

            &::before{
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #52000D;
            }
        }
    }

    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 80%;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        background: linear-gradient(180deg, 
        #52000D 0%,
        #180014 30%,
        #2F004D 70%,
        #0000 100%);
    }
}
// Final Apresentação

// Inicio Projetos
.projetos{
    overflow: hidden;
    padding: 30px;

    h1{
        margin-top: 60px;
        @include font-display(64, 400);
        color: #fff;
        text-align: center;
    }

    ul{
    overflow-x: scroll;
    display: flex;
    gap: 60px;
    padding: 10px 0 ;


    li{
        min-width: 560px;
        position: relative;
        display: flex;
        align-items: center;

        img{
            width: 100%;
            height: 100%;
        }

        & + li::before{
            content: "";
            display: block;
            position: absolute;
            left: -30px;
            width: 4px;
            height: 80%;
            border-radius: 5px;
            background: linear-gradient(180deg, #180014 0%, rgba(57, 0, 9, 0.37) 16.15%, rgba(16, 0, 27, 0.67) 71.35%, #2F004D 100%);
        }

    }

    scrollbar-width:thin;   
    scrollbar-color: #2F004D #5F004D;
    
    &::-webkit-scrollbar {
        width: auto;
        height: 12px;
    }
    
    &::-webkit-scrollbar-track {
        background: #2F004D;
        border-radius: 15px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background: #5F004D;
        border: solid 3px #2F004D;
    }
    }
}
// Final Projetos

// Inicio Certificados
.certificados{
    margin-top: 60px;
    margin-bottom: 60px;

    h1{
        @include font-display(64, 400);
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
        padding: 0 30px;
    }

    ul{
        display: grid;
        padding: 0 30px;
        gap: 30px;

        li{
            display: grid;
            border-radius: 15px 15px 150px 15px;
            background: #180014;
            box-shadow: 0px 4px 8px 0px rgba(9, 0, 0, 0.10);
            padding: 15px 30px ;

            h2{
                @include font-display(24, 400);
                color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                span{
                    @include font-display(16, 400);
                    color:#888;
                }

                &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -1px;
                    width: 120px;
                    height: 2px;
                    border-radius: 15px;
                    background: #F00;
                }
            }

            span{
                @include font-display(16, 400);
                color: #888;
                margin-bottom: 5px;
            }

            a{
                @include font-display(20, 400);
                color: #fff;
                text-decoration:underline;
                transition: .4s;
                justify-self: start;

                &:hover,
                &:focus{
                    color:#a44444;
                }
            }
        }
    }
}
// Final Certificados

// Inicio Formulário
.formulario{
    display: grid;
    justify-content: center;
    max-width: 500px;
    margin-bottom: 60px;

    h1{
        @include font-display(32, 400);
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
        padding: 0 30px;
    }

    form{
        display: grid;
        gap: 20px;
        border-radius: 15px;
        background: #180014;
        padding: 40px;
        justify-content: center;

        
        
        div{
            display: grid;
            @include font-display(20, 400);
            color: #fff;

            input,
            textarea{
                @include font-normal(16, 400);
                margin-top: 5px;
                padding: 10px 20px;
                min-width: 300px;
                max-width: 50vw;
                width: 50vw;
                border-radius: 5px;
                background: #2B001E;
                box-shadow: 0px 4px 8px 0px rgba(13, 0, 30, 0.25);
                color: #aaa;
                border: 2px solid #0000;
                transition: .4s;


                &:focus{
                    border: 2px solid #B11983;
                    background: #FFF;
                    box-shadow: 0px 0px 8px 2px rgba(177, 25, 131, 0.30);
                    color: #000;
                }
            }
        }

        button{
            justify-self: center;
            @include font-display(24, 400);
            color: #af6fff;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid #3D0063;
            background: rgba(18, 0, 30, 0.85);
            box-shadow: 0px 2px 8px 0px rgba(162, 89, 255, 0.10);
            cursor: pointer;
            transition: .4s;

            &:hover,
            &:focus{
                background: rgb(25, 0, 40);
            }
        }
    }
}
// Final Formulário

// Inicio Footer
footer{
    background: linear-gradient(0deg, rgba(8, 0, 19, 0.60) 0%, rgba(2, 0, 4, 0.37) 100%);
    position: relative;
    display: flex;
    gap: 30px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;

    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 80%;
        height: 8px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 15px;
        background: #150031;
        top: -4px;
    }

    .contato{
        display: flex;
        gap: 20px;
        @include font-display(16, 400);
        color: #fff;
        a{
            position: relative;
            display: flex;
            align-items: center;
            transition: .4s;

            &:hover,
            &:focus{
                color: #888;
            }
        }

        a + a::before{
            content: "";
            display: block;
            position: absolute;
            width: 2px;
            height: 32px;
            border-radius: 15px;
            background: #f00;
            left: -10px;
        }
    }

    .redes{
        ul{
            display: flex;
            gap: 30px;
            justify-content: end;
            transition: .4s;

            li{
                display: flex;
                position: relative;
                width: 30px;
                height: 30px;
                transition: .4s;

                & + li::before{
                    content: "";
                    display: block;
                    position: absolute;
                    align-self: center;
                    width: 2px;
                    left: -15px;
                    height: 20px;
                    border-radius: 15px;
                    background: #f00;
                }
            }
        }
    }
}
// Final Footer

// 800px
@media(max-width:800px){
    // Inicio Header
    header{
        flex-wrap: wrap-reverse;
        justify-content: center;    
        
        .info-header li{
            @include font-display(24, 400);
        }
    }
    // Final Header
    
    // Inicio Introdução
    .introducao{
        margin-top: 30px;
        gap: 30px;
    
        .titulo-tecnologias{
            h1{
                @include font-display(48, 400);
            }
            .tecnologias{
                margin-top: 15px;
                grid-template-columns: repeat(4, 60px);
                gap: 15px;

                img{
                    height: 100%;
                }

            }
        }

        .perfil{

            h1{
                display: grid;
                @include font-display(20, 400);
                justify-items: center;
                align-items: center;
                position: relative;
                
                &::after{
                    width: 80%;
                    height: 2px;
                    bottom: 0;
                }
            }
    
            a{
                @include font-normal(16, 400);

                img{
                    height: 16px;
                }
            }
    
    }
}
    // Final Introdução
    
    // Inicio Apresentação
    .apresentacao{
        gap: 30px;
        grid-template-columns: 1fr;
        color: #fff;
    
        h2{
            text-align: start;
        }
    
        p{
            @include font-normal(24, 400);
            height: auto;
        }
    
        &::after{
            content: none;
        }
    }
    // Final Apresentação
    
    // Inicio Projetos
    .projetos{

        h1{
            @include font-display(48, 400);
            text-align: start;
        }

        ul{
        gap: 30px;

        li{
            min-width: 420px;

            & + li::before{
                left: -15px;
            }
        }
        }
    }
    // Final Projetos
    
    // Inicio Certificados
    .certificados{
        margin-top: 30px;
        
        h1{
            @include font-display(48, 400);
            text-align: start;
        }
    }
    // Final Certificados
    
    // Inicio Formulário
    .formulario{
        justify-content: stretch;
        max-width: 100%;
        margin-bottom: 60px;
        padding: 0 30px;
    
        h1{
            @include font-display(32, 400);
            text-align: start;
        }
    
        form{
            justify-content: stretch;
            gap: 10px;

            div{
                input,
                textarea{
                    min-width: initial;
                    max-width: 80vw;
                    width: initial;
                    overflow: hidden;

                }
            }
        }
    }
    // Final Formulário
    
    // Inicio Footer
    footer{
        flex-direction: column;
        justify-content: space-between;
    }
    // Final Footer
}

// 600px
@media(max-width:600px){
    // Inicio Header
    header{
        flex-wrap: wrap-reverse;
        justify-content: center;    
        
        .info-header li{
            @include font-display(24, 400);
        }
    }
    // Final Header
    
    // Inicio Introdução
    .introducao{
        margin-top: 30px;
        gap: 30px;
    
        .titulo-tecnologias{
            h1{
                @include font-display(48, 400);
            }
            .tecnologias{
                margin-top: 15px;
                grid-template-columns: repeat(4, 60px);
                gap: 15px;

                img{
                    height: 100%;
                }

            }
        }

        .perfil{

            h1{
                display: grid;
                @include font-display(20, 400);
                justify-items: center;
                align-items: center;
                position: relative;
                
                &::after{
                    width: 80%;
                    height: 2px;
                    bottom: 0;
                }
            }
    
            a{
                @include font-normal(16, 400);

                img{
                    height: 16px;
                }
            }
    
    }
}
    // Final Introdução
    
    // Inicio Apresentação
    .apresentacao{
        gap: 30px;
        grid-template-columns: 1fr;
        color: #fff;
    
        h2{
            text-align: start;
        }
    
        p{
            @include font-normal(24, 400);
            height: auto;
        }
    
        &::after{
            content: none;
        }
    }
    // Final Apresentação
    
    // Inicio Projetos
    .projetos{

        h1{
            @include font-display(48, 400);
            text-align: start;
        }

        ul{
        gap: 30px;

        li{
            min-width: 420px;

            & + li::before{
                left: -15px;
            }
        }
        }
    }
    // Final Projetos
    
    // Inicio Certificados
    .certificados{
        margin-top: 30px;
        
        h1{
            @include font-display(48, 400);
            text-align: start;
        }
    }
    // Final Certificados
    
    // Inicio Formulário
    .formulario{
        justify-content: stretch;
        max-width: 100%;
        margin-bottom: 60px;
        padding: 0 30px;
    
        h1{
            @include font-display(32, 400);
            text-align: start;
        }
    
        form{
            justify-content: stretch;
            gap: 10px;

            div{
                input,
                textarea{
                    min-width: initial;
                    max-width: 80vw;
                    width: initial;
                    overflow: hidden;

                }
            }
        }
    }
    // Final Formulário
    
    // Inicio Footer
    footer{
        flex-direction: column;
        justify-content: space-between;
    }
    // Final Footer
}