* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  color: inherit;
  outline: none;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background: linear-gradient(160deg, #52000D 0%, #100000 39%, #10001A 86%);
  min-height: 2000px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  gap: 10px;
  padding: 15px 30px;
}
header .icones-header li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}
header .icones-header li img {
  width: 35px;
  height: 35px;
  position: relative;
  padding: 2px;
  background: #000;
  border-radius: 5px;
}
header .icones-header li a:hover::before,
header .icones-header li a:focus::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  animation: girarBorda 2s linear infinite;
}
@keyframes girarBorda {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    background-image: conic-gradient(#000, #52000D, #000, #52000D);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    background-image: conic-gradient(#000, #52000D, #000, #52000D);
  }
}
header .info-header li {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  display: flex;
  align-items: center;
}
header .info-header li::before {
  content: "";
  display: block;
  height: 15px;
  width: 2px;
  margin-right: 4px;
  border-radius: 15px;
  background: #8C0000;
}
header .info-header li a {
  transition: 0.4s;
}
header .info-header li a:hover, header .info-header li a:focus {
  color: #999;
}

@media (max-width: 800px) {
  header .info-header li {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 1.25rem;
    font-weight: 400;
  }
}
@media (max-width: 600px) {
  header {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  header .icones-header {
    gap: 10px;
  }
  header .info-header {
    cursor: pointer;
    padding: 10px 0;
    margin-right: 30px;
  }
  header .info-header li {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 1.25rem;
    font-weight: 400;
    display: none;
  }
  header .info-header::after {
    content: "";
    display: block;
    background: #fff;
    width: 30px;
    height: 4px;
    box-shadow: 0 10px 0 #fff, 0 -10px 0 #fff;
  }
}
.introducao {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 60px;
  padding: 0 30px;
}
.introducao .titulo-tecnologias h1 {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
}
.introducao .titulo-tecnologias .tecnologias {
  margin-top: 40px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 20px;
  justify-items: left;
}
.introducao .titulo-tecnologias .tecnologias li {
  border: solid 1px #fff;
  border-radius: 10px;
  padding: 10px;
  transition: 0.4s;
}
.introducao .titulo-tecnologias .tecnologias li:hover {
  transform: scale(110%);
}
.introducao .perfil {
  display: grid;
}
.introducao .perfil h1 {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 2rem;
  font-weight: 400;
  max-width: 100%;
  text-align: center;
  align-self: center;
  color: #fff;
  margin-top: 10px;
}
.introducao .perfil h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(82, 0, 13, 0.7) 0%, rgba(74, 0, 58, 0.38) 100%);
}
.introducao .perfil a {
  display: grid;
  position: relative;
  grid-template-columns: 1fr auto;
  justify-self: center;
  align-items: center;
  align-self: start;
  gap: 5px;
  padding: 2px 5px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(168, 168, 168, 0.8);
}
.introducao .perfil a:hover, .introducao .perfil a:focus {
  filter: drop-shadow(0 0 0 #fff);
}
.introducao .perfil a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  bottom: 0;
  background: #52000D;
  transition: 0.4s;
}
.introducao .perfil a:hover::after, .introducao .perfil a:focus::after {
  width: 100%;
}

@media (max-width: 800px) {
  .introducao {
    margin-top: 30px;
    gap: 30px;
  }
  .introducao .titulo-tecnologias h1 {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 3rem;
    font-weight: 400;
  }
  .introducao .titulo-tecnologias .tecnologias {
    margin-top: 15px;
    grid-template-columns: repeat(4, 60px);
    gap: 15px;
  }
  .introducao .titulo-tecnologias .tecnologias img {
    height: 100%;
  }
  .introducao .perfil h1 {
    display: grid;
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 1.25rem;
    font-weight: 400;
    justify-items: center;
    align-items: center;
    position: relative;
  }
  .introducao .perfil h1::after {
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0;
  }
  .introducao .perfil a {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }
  .introducao .perfil a img {
    height: 16px;
  }
}
@media (max-width: 600px) {
  .introducao {
    flex-wrap: wrap-reverse;
    margin-top: 30px;
    gap: 30px;
  }
  .introducao .titulo-tecnologias h1 {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 2rem;
    font-weight: 400;
  }
  .introducao .titulo-tecnologias .tecnologias {
    grid-template-columns: repeat(4, 50px);
  }
  .introducao .titulo-tecnologias .tecnologias li {
    padding: 5px;
  }
  .introducao .titulo-tecnologias .tecnologias img {
    height: 100%;
  }
  .introducao .perfil h1 {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 1rem;
    font-weight: 400;
  }
  .introducao .perfil a {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
  }
  .introducao .perfil a img {
    height: 14px;
  }
}
.apresentacao {
  display: grid;
  margin-top: 60px;
  gap: 60px;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  position: relative;
  padding: 0 30px;
}
.apresentacao h2 {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
.apresentacao p {
  display: grid;
  align-content: center;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5), 0px 2px 4px 0px rgba(19, 0, 31, 0.5);
  padding: 30px;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.5;
}
.apresentacao p span {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.apresentacao p span + span + span {
  margin-bottom: 30px;
}
.apresentacao p span::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #52000D;
}
.apresentacao::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 80%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  background: linear-gradient(180deg, #52000D 0%, #180014 30%, #2F004D 70%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 800px) {
  .apresentacao {
    gap: 30px;
    grid-template-columns: 1fr;
  }
  .apresentacao h2 {
    text-align: start;
  }
  .apresentacao p {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    height: auto;
  }
  .apresentacao::after {
    content: none;
  }
}
@media (max-width: 600px) {
  .apresentacao h2 {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 1.75rem;
    font-weight: 400;
  }
  .apresentacao p {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
  }
  .apresentacao p span {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 0;
  }
}
.projetos {
  overflow: hidden;
  padding: 30px;
}
.projetos h1 {
  margin-top: 60px;
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
.projetos .lista-projetos {
  overflow-x: scroll;
  display: flex;
  gap: 60px;
  padding: 10px 0;
  scrollbar-width: thin;
  scrollbar-color: #2F004D #5F004D;
}
.projetos .lista-projetos .item-lista {
  min-width: 560px;
  position: relative;
  display: flex;
  align-items: center;
}
.projetos .lista-projetos .item-lista img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}
.projetos .lista-projetos .item-lista + li::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  width: 4px;
  height: 80%;
  border-radius: 5px;
  background: linear-gradient(180deg, #180014 0%, rgba(57, 0, 9, 0.37) 16.15%, rgba(16, 0, 27, 0.67) 71.35%, #2F004D 100%);
}
.projetos .lista-projetos .item-lista div {
  display: grid;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(10%) translate(-50%, -50%);
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  z-index: -1;
}
.projetos .lista-projetos .item-lista:hover div, .projetos .lista-projetos .item-lista:focus-within div {
  z-index: 1;
  transition: 0.4s;
  transform: scale(100%) translate(-50%, -50%);
}
.projetos .lista-projetos .item-lista a {
  position: relative;
  transition: 0.4s;
}
.projetos .lista-projetos .item-lista a:hover, .projetos .lista-projetos .item-lista a:focus {
  color: #f44444;
}
.projetos .lista-projetos .item-lista a + a::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 4px;
  background: #550000;
  border-radius: 15px;
  top: 0;
}
.projetos .lista-projetos .item-lista ul {
  transition: 0.4s;
}
.projetos .lista-projetos .item-lista:hover ul, .projetos .lista-projetos .item-lista:focus-within ul {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.projetos .lista-projetos .item-lista:hover ul li, .projetos .lista-projetos .item-lista:focus-within ul li {
  width: 30px;
}
.projetos .lista-projetos .item-lista:hover > img, .projetos .lista-projetos .item-lista:focus-within > img {
  filter: brightness(40%);
}
.projetos .lista-projetos::-webkit-scrollbar {
  width: auto;
  height: 12px;
}
.projetos .lista-projetos::-webkit-scrollbar-track {
  background: #2F004D;
  border-radius: 15px;
}
.projetos .lista-projetos::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #5F004D;
  border: solid 3px #2F004D;
}

@media (max-width: 800px) {
  .projetos h1 {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 3rem;
    font-weight: 400;
    text-align: start;
  }
  .projetos .lista-projetos {
    gap: 30px;
  }
  .projetos .lista-projetos .item-lista {
    min-width: 420px;
  }
  .projetos .lista-projetos .item-lista div {
    gap: 5px;
  }
  .projetos .lista-projetos .item-lista div a {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 1.25rem;
    font-weight: 400;
  }
  .projetos .lista-projetos .item-lista div a + a::before {
    height: 2px;
  }
  .projetos .lista-projetos .item-lista + li::before {
    left: -16px;
  }
}
@media (max-width: 600px) {
  .projetos h1 {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }
  .projetos .lista-projetos .item-lista div {
    z-index: 1;
    transform: scale(100%) translate(-50%, -50%);
  }
  .projetos .lista-projetos .item-lista a {
    position: relative;
    transition: 0.4s;
  }
  .projetos .lista-projetos .item-lista a:hover, .projetos .lista-projetos .item-lista a:focus {
    color: #f44444;
  }
  .projetos .lista-projetos .item-lista a + a::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 2px;
    background: #550000;
    border-radius: 15px;
    top: 0;
  }
  .projetos .lista-projetos .item-lista ul {
    transition: 0.4s;
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  .projetos .lista-projetos .item-lista ul li {
    width: 30px;
  }
  .projetos .lista-projetos .item-lista > img {
    filter: brightness(40%);
  }
}
.certificados {
  margin-top: 60px;
  margin-bottom: 60px;
}
.certificados h1 {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 30px;
}
.certificados ul {
  display: grid;
  padding: 0 30px;
  gap: 30px;
}
.certificados ul li {
  display: grid;
  border-radius: 15px 15px 150px 15px;
  background: #180014;
  box-shadow: 0px 4px 8px 0px rgba(9, 0, 0, 0.1);
  padding: 15px 30px;
}
.certificados ul li h2 {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.certificados ul li h2 span {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 1rem;
  font-weight: 400;
  color: #888;
  text-wrap: nowrap;
}
.certificados ul li h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 120px;
  height: 2px;
  border-radius: 15px;
  background: #F00;
}
.certificados ul li span {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 1rem;
  font-weight: 400;
  color: #888;
  margin-bottom: 5px;
}
.certificados ul li a {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
  transition: 0.4s;
  justify-self: start;
}
.certificados ul li a:hover, .certificados ul li a:focus {
  color: #a44444;
}

@media (max-width: 800px) {
  .certificados {
    margin-top: 30px;
  }
  .certificados h1 {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 3rem;
    font-weight: 400;
    text-align: start;
  }
}
@media (max-width: 600px) {
  .certificados h1 {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }
  .certificados ul li h2 {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    display: grid;
  }
  .certificados ul li span {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 0.875rem;
    font-weight: 400;
  }
}
.formulario {
  display: grid;
  justify-content: center;
  max-width: 500px;
  margin-bottom: 60px;
}
.formulario h1 {
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 30px;
}
.formulario form {
  display: grid;
  gap: 20px;
  border-radius: 15px;
  background: #180014;
  padding: 40px;
  justify-content: center;
}
.formulario form div {
  display: grid;
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}
.formulario form div input,
.formulario form div textarea {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 5px;
  padding: 10px 20px;
  min-width: 300px;
  max-width: 50vw;
  width: 50vw;
  border-radius: 5px;
  background: #2B001E;
  box-shadow: 0px 4px 8px 0px rgba(13, 0, 30, 0.25);
  color: #aaa;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
}
.formulario form div input:focus,
.formulario form div textarea:focus {
  border: 2px solid #B11983;
  background: #FFF;
  box-shadow: 0px 0px 8px 2px rgba(177, 25, 131, 0.3);
  color: #000;
}
.formulario form button {
  justify-self: center;
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 1.5rem;
  font-weight: 400;
  color: #af6fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #3D0063;
  background: rgba(18, 0, 30, 0.85);
  box-shadow: 0px 2px 8px 0px rgba(162, 89, 255, 0.1);
  cursor: pointer;
  transition: 0.4s;
}
.formulario form button:hover, .formulario form button:focus {
  background: rgb(25, 0, 40);
}

@media (max-width: 800px) {
  .formulario {
    justify-content: stretch;
    max-width: 100%;
    margin-bottom: 60px;
    padding: 0 30px;
  }
  .formulario h1 {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 2rem;
    font-weight: 400;
    text-align: start;
  }
  .formulario form {
    justify-content: stretch;
    gap: 10px;
  }
  .formulario form div input,
  .formulario form div textarea {
    min-width: initial;
    max-width: 80vw;
    width: initial;
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  .formulario h1 {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }
  .formulario form button {
    font-family: "IBM Plex Mono", sans-serif, monospace;
    font-size: 1rem;
    font-weight: 400;
  }
}
footer {
  background: linear-gradient(0deg, rgba(8, 0, 19, 0.6) 0%, rgba(2, 0, 4, 0.37) 100%);
  position: relative;
  display: flex;
  gap: 30px;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}
footer::before {
  content: "";
  display: block;
  position: absolute;
  width: 80%;
  height: 8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  background: #150031;
  top: -4px;
}
footer .contato {
  display: flex;
  gap: 20px;
  font-family: "IBM Plex Mono", sans-serif, monospace;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
footer .contato a {
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.4s;
}
footer .contato a:hover, footer .contato a:focus {
  color: #888;
}
footer .contato a + a::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 32px;
  border-radius: 15px;
  background: #f00;
  left: -10px;
}
footer .redes ul {
  display: flex;
  gap: 30px;
  justify-content: end;
  transition: 0.4s;
}
footer .redes ul li {
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}
footer .redes ul li + li::before {
  content: "";
  display: block;
  position: absolute;
  align-self: center;
  width: 2px;
  left: -15px;
  height: 20px;
  border-radius: 15px;
  background: #f00;
}

@media (max-width: 800px) {
  footer {
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  footer .contato {
    flex-direction: column;
  }
  footer .contato a {
    text-align: center;
    justify-self: center;
  }
  footer .contato a + a::before {
    width: 32px;
    height: 2px;
    top: -10px;
  }
}/*# sourceMappingURL=style.css.map */